body{
    background-color: white;
    color: black;
}
#citywether{
    height: 150px;
    width: 150px;
    background-color: beige;
    position: absolute;
    z-index: 10;
    border-radius: 27%;
    border: 2px solid black;
    padding-inline: 1;
    opacity: 75%;
    margin-left: 85%;
    
}
#citywether>p{
    margin-left: 10px;
    margin-top: 5px;
}
#cwbtn{
    background-color: grey;
    color: #000;
    border-radius: 15%;
    margin-left: 27px;
    margin-top: 7px;
}
#cupon {
    height: 400px;
    width: 700px;
    background-color: rgb(255, 203, 196);
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    z-index: 10;
}
#closebtn{
    margin-left: 95%;
}
#cuponmessage{
    border: 4px black dashed;
    margin-left: 10%;
    margin-top: 5%;
    height: 80%;
    width: 80%;
}
.darkmode{
    background-color: black;
    color: white;
}
#whyus{
    border: 2px solid red;
    height: 400px;

}
#whyuscontent{
    margin-top: 10%;
    text-align: center;
}
#whyuscontent>h1{
    font-size: 90px;
    background-color: burlywood;
    color: coral;
}
#securepayment{
    background-color: aqua;
}
#primiumquality{
    background-color: blueviolet;
}
#freeshipping{
    background-color: brown;
}
.servisesrow{
    background-color:gray;
}
.footerrow{
    background-color: cornflowerblue;
    height: 250px;
}
#copyright{
    text-align: center;
    background-color: gray;
    color: chartreuse;
}