.productcard{
    height: auto;
    border: 2px solid black;
    width: 100%;
    margin-top: 20px;
    
}
.productcard>img{
    width: 90%;
    margin-left: 5%;
    height: 340px;
    margin-top: 10px;
}
.productcard>p{
    overflow-y: auto;
    width: 80%;
    margin-left: 10%;
}
.price{
    width: 80%;
    margin-left: 10%;
    margin-top: -15px;
}
.oldprice{
    color: red;
    text-decoration-line: line-through;
}
.newprice{
    color: black;
}
.listingcardbtn{
    width: 80%;
    background-color: black;
    color: aliceblue;
    margin-left: 10%;
    margin-bottom: 10px;
}
