#mensection{
    height: 400px;
    width: 100%; 
    border: solid 5px rgb(255, 92, 92);
    margin-top: 10px;
    /* background-image: url( ); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    text-align: center;
}
#mensection>button{
    
    margin-top: 17%; 
    
    
}